@import "tailwindcss";
@import "@nuxt/ui";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-gradient: var(--gradient);
    --radius: 0.5rem;
}

@layer base {
    :root {
        --background: var(--color-slate-50);
        --foreground: var(--color-slate-900);
        --primary: var(--color-blue-600);
        --primary-foreground: var(--color-white);
        --secondary: var(--color-slate-200);
        --secondary-foreground: var(--color-slate-900);
        --muted: var(--color-slate-100);
        --muted-foreground: var(--color-slate-800);
        --accent: var(--color-indigo-50);
        --accent-foreground: var(--color-blue-900);
        --card: var(--color-white);
        --card-foreground: var(--color-slate-900);
        --popover: var(--color-white);
        --popover-foreground: var(--color-slate-900);
        --border: var(--color-slate-200);
        --input: var(--color-white);
        --ring: var(--color-blue-600);
        --gradient: linear-gradient(to right, var(--color-blue-600), var(--color-blue-500));
    }

    .dark {
        --background: var(--color-slate-950);
        --foreground: var(--color-slate-50);
        --primary: var(--color-blue-500);
        --primary-foreground: var(--color-white);
        --secondary: var(--color-slate-800);
        --secondary-foreground: var(--color-slate-200);
        --muted: var(--color-slate-800);
        --muted-foreground: var(--color-slate-400);
        --accent: var(--color-slate-800);
        --accent-foreground: var(--color-blue-100);
        --card: var(--color-slate-800);
        --card-foreground: var(--color-slate-200);
        --popover: var(--color-slate-800);
        --popover-foreground: var(--color-slate-200);
        --border: var(--color-slate-600);
        --input: var(--color-slate-700);
        --ring: var(--color-blue-500);
        --gradient: linear-gradient(to right, var(--color-blue-600), var(--color-blue-500));
    }

    body {
        @apply bg-background text-foreground;
    }
    * {
        @apply border-border;
    }
}